body {
  background: url('images/baby-bg1.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Arial', cursive, sans-serif;
  color: #333;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container,
.about-container,
.event-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 200px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  text-align: center;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

h1, h2 {
  color: #ff1493;
  font-size: 30px;
  margin: 25px;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.event-button,
.back-button,
button[type="submit"] {
  display: inline-block;
  margin: 15px 10px;
  padding: 15px 30px;
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 18px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
input,
button {
  width: 70%;
  padding: 12px 15px;
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid #ffa6c9;
  box-sizing: border-box;
}

.event-button:hover,
.back-button:hover,
button[type="submit"]:hover {
  background-color: #ff1493;
  transform: scale(1.1);
}

.image-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.image-gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media (max-width: 768px) {
  .event-container,
  .about-container,
  .login-container {
    margin: 20px;
    padding: 20px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  .image-gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .back-button,
  .event-button,
  button[type="submit"] {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .event-container,
  .about-container,
  .login-container {
    margin-top: 30px;
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  .back-button,
  .event-button,
  button[type="submit"] {
    padding: 8px 18px;
  }
}
